.search-container{
    margin-top: 40px;
    text-align: center;
}

.search-box {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.search-results{
    margin-top: 20px;
}

.item-list{
    width: 100%;
}

.break{
    margin-top: 10px;
}

.pagination {
    margin: 0 auto;
    width: 30%;
    text-align:center;
}

.MuiPaginationItem-page.Mui-selected {
    background-color: #80cbc4 !important;
}


.loading {
    text-align: center;
}